body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: rgb(243, 235, 220);
    background-image: url(/img/matrix.gif);
    background-repeat: repeat;

}

.main {
}

.conteiner-topo {
    
    width: 100%;
    position: fixed;
    background-color: rgb(178, 247, 74);
    padding: 3%;
    z-index: 1;
    
}

.conteiner-topo h1 {
    text-align: center;
}

.principal {
    align-content: center;
    display: inline;
    top: 50%;
    left: 15%;
    position: absolute;
    font-size: 30px;
    background-color: rgba(236, 226, 135, 0.8);
    border-radius: 10mm;
    padding: 20mm;
    box-shadow: 2px 2px 10px 2px;

}

.regua {

    width: 15%;

}

.principal {
    
    text-align: center;
    padding: 5%;

}

.footer  {
    
    top: 280%;
    position: absolute;
    background-color: rgb(15, 15, 15);
    padding: 5%;
    margin:0;
    width: 100%;
    color: white;

}

.conteiner-footer  {
    text-align: center;
}